#main {
    color:#cd7f32;
    font-family: "Century Gothic", fantasy;
    font-size: 30px;
    font-align: center;
}

.title {
    font-family: monospace;
    font-size: 22px;
}

.def {
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
}

.recipe {
    color: #ffffff;
    background-color: #8a6503;
}