#main {
    color:;
    font-family:;
    font-size:;
    font-align: center;
}

.title {
    font-family:;
    font-size:;
}
img {
    height: 500px;
    width: 600px;
}

.desc {
    font-weight:;
}
.def {
    font-family:;
    font-size:
}

.recipe {
    color:;
    background-color:;
}